@model IEnumerable<Product>
@*Burada IEnumerable yerine List kullanılabilir, ama IEnumerable daha flex*@


@if (Model != null && Model.Count() > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var product in Model)
            {
                //row'a product-row class ismini vererek, ilgili isimden sonra click event'i tanımlanabilir.
                <tr class="product-row">
                    <td>@product.Name</td>
                    <td>@product.Quantity</td>
                </tr>
            }
        </tbody>
    </table>
}