@model SalesViewModel

@section title {
    <div class="row">
        <div class="col-7">
            <h3>Cashier's Console</h3>
        </div>
        <div class="col-2">
            <label for="cashier">
                Cashier Name:
            </label>
        </div>
        <div class="col-3">
            @*Display Cashiers name here*@
        </div>

    </div>
}


<br />
<div class="row">
    <div class="col-4">
        @*Category Selection*@
        <div class="text-danger" asp-validation-summary="All"></div>
        <select asp-for="SelectedCategoryId" class="form-control">
            <option>- Please Select -</option>
            @if (Model.Categories != null && Model.Categories.Count() > 0)
            {
                @foreach (var cat in Model.Categories)
                {
                    <option value="@cat.CategoryId">@cat.Name</option>
                }
            }
        </select>
        <br />
        <div id="productsPartial">
            @*Product List
                -Category seçildiğinde, ProductsPartial view'i güncellenir. (_Products -> PartialView)
            *@
        </div>
        <div id="productDetailPartial">
            @*Product Details
            -Product List içerisinden kullanıcı bir row'a tıkladıgında, o row'un detaylarını burada göster.
            *@
        </div>
        @*Sales form
            Kullanıcı bir ürün sattığın da, post işlemi.
            Bu kısım sadece quantity ve hidden SelectedProductId'den oluşuyor.
            Submit butonuna basıldıgın da, ilgili controllera seçilen Productın ID'si ve Satılan Miktar (Quantity gönderilir)
        *@
        <form method="post" asp-controller="sales" asp-action="sell" id="formSale">
            <input asp-for="SelectedProductId" type="hidden"/>
            <div class="form-group">
                <label asp-for="QuantityToSell"></label>
                <input asp-for="QuantityToSell" class="form-control" type="number" min="1"/>
                <br />
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Submit"/>
                </div>
            </div>
        </form>

    </div>
    <div class="col">
        @*List of transactions*@

        @await Component.InvokeAsync("Transactions")
    </div>
</div>

@{
    
}
@section Scripts {
    @*
        //Select elementin de bir değişiklik oldugun da, SelectedCategoryId güncellenir.
        //Güncellenen SelectedCategoryId ile ProductsByCategoryPartial action methodu çalıştırılır.
        //ProductsByCategoryPartial action methodu çalıştırıldıgında, ProductsPartial view'i güncellenir.
        //this.val ile select elementin de seçilen option'ın value'su alınır.
    *@
    <script>
        $(function () {
            //Initialize the form
            $("#formSale").hide();
            $("#QuantityToSell").val("");

            //Eğer seçili bir CategoryId var ise sayfa yüklendiğin de, ilgili Productları getir.
            var selectedCategoryId = $("#SelectedCategoryId").val();
            if(selectedCategoryId > 0){
                $("#productsPartial").load("/products/ProductsByCategoryPartial", { categoryId: selectedCategoryId });
            }

            //Handle category selection
            $("#SelectedCategoryId").on("change",function() {
                $("#productsPartial").load("/products/ProductsByCategoryPartial", { categoryId: $(this).val() });

                //Kullanıcı categori değiştirdiğin de, seçili product details sayfasını resetle.
                $("#productDetailPartial").html("");
                //Categori değiştiğin de, formu gizle.
                $("#formSale").hide();
            })

            // Handle product selection (Highlight?)
            //User productsPartial içerisinde bir row'a tıkladıgında, o row'u highlight et.
            $("#productsPartial").on("click", ".product-row", function () {
                //Highlit the row selected.
                //Öncelikle yeni bir row'a tıklandığın da, önceki highlightlanan rowun highlightını kaldırmamız gerekiyor.
                $(".product-row").removeClass("highlight");

                //Seçili rowa highlight ekleme.
                $(this).addClass("highlight");

                //Get the product id of the selected row. from "product-id" -> attribute. -> _Products Partial View
                var productId = $(this).attr("product-id");

                console.log("Row selected", "id: ", productId);

                //Get the product details of the selected product. -> _SellProduct Partial View
                $("#productDetailPartial").load("/sales/SellProductPartial", {productId: productId});
                
                //Formu gösterip, kapatma
                if(productId > 0){
                    $("#SelectedProductId").val(productId);
                    $("#formSale").show();
                    console.log("Product Id:", SelectedProductId);
                }
                else {
                    $("#SelectedProductId").val("");
                    $("formSale").hide();
                }

            });
        })



    </script>
}