@model SalesViewModel

@section title {
    <div class="row">
        <div class="col-7">
            <h3>Cashier's Console</h3>
        </div>
        <div class="col-2">
            <label for="cashier">
                Cashier Name:
            </label>
        </div>
        <div class="col-3">
            @*Display Cashiers name here*@
        </div>

    </div>
}


<br />
<div class="row">
    <div class="col-4">
        @*Category Selection*@
        <select asp-for="SelectedCategoryId" class="form-control">
            <option>- Please Select -</option>
            @if (Model.Categories != null && Model.Categories.Count() > 0)
            {
                @foreach (var cat in Model.Categories)
                {
                    <option value="@cat.CategoryId">@cat.Name</option>
                }
            }
        </select>
        <br />
        <div id="productsPartial">
            @*Product List*@
        </div>
        <div>
            @*Product Details*@
        </div>
        @*Sales form*@
    </div>
    <div class="col">
        @*List of transactions*@
    </div>
</div>

@{
    
}
@section Scripts {
    @*
        //Select elementin de bir değişiklik oldugun da, SelectedCategoryId güncellenir.
        //Güncellenen SelectedCategoryId ile ProductsByCategoryPartial action methodu çalıştırılır.
        //ProductsByCategoryPartial action methodu çalıştırıldıgında, ProductsPartial view'i güncellenir.
        //this.val ile select elementin de seçilen option'ın value'su alınır.
    *@
    <script>
        $(function () {
            //Handle category selection
            $("#SelectedCategoryId").on("change",function() {
                $("#productsPartial").load("/products/ProductsByCategoryPartial", { categoryId: $(this).val() });
            })

            // Handle product selection (Highlight?)
            //User productsPartial içerisinde bir row'a tıkladıgında, o row'u highlight et.
            $("#productsPartial").on("click", ".product-row", function () {
                //Highlit the row selected.
                //Öncelikle yeni bir row'a tıklandığın da, önceki highlightlanan rowun highlightını kaldırmamız gerekiyor.
                $(".product-row").removeClass("highlight");

                //Seçili rowa highlight ekleme.
                $(this).addClass("highlight");
                console.log("Row selected", $(this).text());
            });
        })



    </script>
}